<header>
    <div class="center">
        <h1 onclick="window.location.href='/index'">PetFest</h1>
        <div id="image"></div>
        <button id="logInButton" onclick="window.location.href='/users/logIn'">Log In</button>
        <!-- <a href=""><button id="startButton">Connect</button></a> -->
        <button id="signUpButton" onclick="window.location.href='/users/signUp'">Sign Up</button>
        <button id="savedButton" onclick="window.location.href='/users/savedConnections'">Home</button>
        <button id="connectionButton" onclick="window.location.href='/connections/'">Connect</button>
        <h3><%= name%></h3>
    </div>
    <!-- <hr> -->
</header>