<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home | Index</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/main.css'>
    <link rel='stylesheet' href='/navButtons.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/animation.js"></script>
</head>

<body>
    <div id="container">
        <%- include('./partials/header.ejs') %>
        <main><h2 class="animation-title">Amazing experience for you and your pets.</h2>
        <img class="eye-animation eye-animation-1" src="tails/tail1.png" alt="blinking eye animation"/>
        <img class="eye-animation eye-animation-2" src="tails/tail2.png" alt="blinking eye animation"/>
        <img class="eye-animation eye-animation-3" src="tails/tail3.png" alt="blinking eye animation"/>
        <img class="eye-animation eye-animation-4" src="tails/tail4.png" alt="blinking eye animation"/>
        <img class="eye-animation eye-animation-5" src="tails/tail5.png" alt="blinking eye animation"/>
        <img class="eye-animation eye-animation-6" src="tails/tail6.png" alt="blinking eye animation"/>
        </main> 
      



        <p class="text">
                It's a place to connect with fellow pet owners and Pet enthusiasts.
                Here you can get up to date with the nearby events, services,
                trainning and get in touch with like minded people. </p>
        
        <%- include('./partials/footer.ejs') %>
    </div>
    
</body>

  
</html>