<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='/main.css'> -->
    <link rel='stylesheet' type='text/css' media='screen' href='/navButtons.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/about.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div id="container">
        <%- include('../partials/header.ejs') %>
        <main>
            <!-- <h2>About</h2> -->

            <img class="profile" src="/ashish/_20180701_164226.jpg" alt="user">

            <p class="text">               
               Ashish Bisht is an aspiring developer in the gaming, web and computer vision domain. Before
               graduation he has spent a few years working for various MNCs. With every opportunity he learned
               something new, something interesting. Doing all of this with keeping his hobbies of reading,
               hiking, riding and admiring nature at its best, intact.
               Belonging to West Himalyan foothills and dad being a Veterinary Doctor he has been close to the
               nature, domestic animals and wildlife. Region being hot spot of Himalyan culture he has grown to
               be an admirer of Garhwal, Kumaon, Gorkhali, Jaunsari, Bhutia and Tibetian cultures and beliefs.

            </p>

            <div class="gallery" id="gallery">
                <div class="gallery-item">
                    <div class="content"><img src="/ashish/17.jpg" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/ashish/16.jpg" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/ashish/15.jpg" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/ashish/14.jpg" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/ashish/13.jpg" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/ashish/12.jpg" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/ashish/11.jpg" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/ashish/10.jpg" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/ashish/9.jpg" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/ashish/8.jpg" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/ashish/7.jpg" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/ashish/6.jpg" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/ashish/5.jpg" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/ashish/4.jpg" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/ashish/3.jpg" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/ashish/2.jpg" alt=""></div>
                </div>
                <div class="gallery-item">
                    <div class="content"><img src="/ashish/1.jpg" alt=""></div>
                </div>
            </div>









            <!-- <section>
                <img class="c" src="/ashish/1.jpg" />
                <img class="c" src="/ashish/2.jpg" />
                <img class="c" src="/ashish/3.jpg" />
                <img class="c" src="/ashish/4.jpg" />
            </section>

            <section>
                <img class="c" src="/ashish/5.jpg" />
                <img class="c" src="/ashish/6.jpg" />
                <img class="c" src="/ashish/7.jpg" />

            </section>

            <section>
                <img class="c" src="/ashish/8.jpg" />
                <img class="c" src="/ashish/9.jpg" />
                <img class="c" src="/ashish/10.jpg" />

            </section>


            <section>
                <img class="c" src="/ashish/11.jpg" />
                <img class="c" src="/ashish/12.jpg" />
                <img class="c" src="/ashish/13.jpg" />

            </section>

            <section>
                <img class="c" src="/ashish/14.jpg" />
                <img class="c" src="/ashish/15.jpg" />
                <img class="c" src="/ashish/16.jpg" />
                <img class="c" ssrc="/ashish/17.jpg" />
            </section> -->



            <!-- <div class="main-content">
                <div class="portfolio">
                    <img src="/ashish/1.jpg" class="portfolio-item one">one</img>
                    <img src="/ashish/2.jpg" class="portfolio-item two">two</img>
                    <img src="/ashish/3.jpg" class="portfolio-item three">three</img>
                    <img src="/ashish/4.jpg" class="portfolio-item four">four</img>
                    <img src="/ashish/5.jpg" class="portfolio-item five">five</img>
                    <img src="/ashish/6.jpg" class="portfolio-item six">six</img>
                    <img src="/ashish/7.jpg" class="portfolio-item seven">seven</img>
                    <img src="/ashish/8.jpg" class="portfolio-item eight">eight</img>
                    <img src="/ashish/9.jpg" class="portfolio-item nine">nine</img>
                    <img src="/ashish/10.jpg" class="portfolio-item ten">ten</img>
                    <img src="/ashish/11.jpg" class="portfolio-item eleven">eleven</img>
                    <img src="/ashish/12.jpg" class="portfolio-item twelve">twelve</img>
                    <img src="/ashish/13.jpg" class="portfolio-item thirteen">thirteen</img>
                    <img src="/ashish/14.jpg" class="portfolio-item fourteen">fourteen</img>
                    <img src="/ashish/15.jpg" class="portfolio-item fifteen">fifteen</img>
                    <img src="/ashish/16.jpg" class="portfolio-item sixteen">sixteen</img>
                    <img src="/ashish/17.jpg" class="portfolio-item seventeen">seventeen</img>
                </div>
            </div> -->
        </main>



        <%- include('../partials/footer.ejs') %>
    </div>
</body>
<script src='/about.js'></script> 
</html>