<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Contact</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/navButtons.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/animation.js"></script>
    <!-- <script src='main.js'></script> -->
</head>

<body>
    <div id="container">
        <%- include('../partials/header.ejs') %>
        <main><p class="text">
            I am a student of CCI at University of North Carolina at Charlotte,
            you guys can reach me at
                                                    <a href="abisht1@uncc.edu">University  Email</a>
                                                    <a href="ashishauthenticash@gmail.com">Personal Email</a>
                                                    <a href="https://www.linkedin.com/in/ashish-bisht-706892134/">Linkden</a>
                                                    <a href="https://www.facebook.com/ashish.bisht.9655">Facebook</a>
                                                    <a href="https://www.instagram.com/ardent_himalyan/">Instagram</a>
                                                    <a href="https://twitter.com/ashishvirgil">Twitter</a>
        
        </p></main> 
      



       
        
        <%- include('../partials/footer.ejs') %>
    </div>
</body>
  
</html>