<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home | Create Connection</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/main.css'>
    <link rel='stylesheet' href='/navButtons.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

    <div id="container"></div>
    <%- include('../partials/header.ejs')%>
        <form action="/signUp" method="POST">
            <label for="connectionName">Title</label><br>
            <input type="text" id="connectionName" name="connectionName" required><br><br>
            <label for="dateTime">Date</label><br>
            <input type="date" id="dateTime" name="dateTime" required><br><br>
            <label for="startTime">Start Time</label><br>
            <input type="date" id="startTime" name="startTime" required><br><br>
            <label for="endTime">End Time</label><br>
            <input type="date" id="endTime" name="endTime" required><br><br>
            <label for="location">Location</label><br>
            <input type="text" id="location" name="location" required><br><br>
            <label for="connectionTopic">Category</label><br>
            <select id="connectionTopic">
              <%   conTopics.forEach(topic =>{%>
               <option value="<%=topic%>"><%=topic%></option>
               <%})%>
            </select>
            <label for="details">Details</label><br>
            <textarea id="details" name="details" rows="4" cols="50"></textarea><br>
            <label for="hostName">Host Name</label><br>
            <input type="text" id="hostName" name="hostName"><br>
            <label for="image">Image</label><br>
            <input type="text" id="image" name="image"><br><br>
            <button>Submit</button><br>
        </form>
    <%- include('../partials/footer.ejs')%>

    </div>
</body>


</html>