<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Index</title>
<link rel="stylesheet" href="/style.css">
</head>
<%- include('./partials/header.ejs') %>


<h3><%=errString%></h3>



<%- include('./partials/footer.ejs') %>
</html>