<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Index</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h3>Welcome to Fast Food Inc!</h3>
  </header>
  <main>
  <table>
  <tr>
    <th>Restaurant Names</th>   
  </tr>
  <tr>
   
    <td><a href="restaurant">Bojangles</a></td>
  </tr>
  <tr>
    <td><a href="restaurant">Subway</a></td>
  </tr>
  <tr>
  <td><a href="restaurant">Panda Express</a></td>
  </tr>
  <tr>
  <td><a href="restaurant">Chick-Fil-A</a></td>
  </tr>
</table>
</main>
<footer>
   <p>Ashish Bisht<p>
</footer>
</body>
</html>